#root {
  margin: 0 auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-bottom: 2.55375rem;
  padding-top: 3.125rem;
}

.logo {
  width: 5.41625rem;
}

.container {
  background-color: var(--color-white);
  border-radius: 25px;
  max-width: 100%;
  padding: 2rem;
}

.splitter-form {
  display: grid;
  gap: 2rem;
}

.form-control {
  label {
    color: var(--color-dark-grayish-cyan);
    display: block;
    font-size: 1rem;
  }
}

.input,
.input-tip {
  background-color: var(--color-very-light-grayish-cyan);
  border: none;
  border-radius: 5px;
  color: var(--color-very-dark-cyan);
  font-family: inherit;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 1;
  margin-block-start: 0.375rem;
  padding: 0.375rem 1rem;
  text-align: right;
  transition: 180ms box-shadow ease-in-out;
  width: 19.4375rem;

  &::placeholder {
    color: var(--color-dark-grayish-cyan);
  }

  &:focus,
  &:invalid {
    outline: 3px solid transparent;
  }

  &:focus {
    border-color: var(--color-strong-cyan);
    box-shadow: 0 0 0 2px var(--color-strong-cyan);
  }

  &:invalid {
    border-color: #e17052;
    box-shadow: 0 0 0 2px #e17052;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.input-tip {
  width: 9.23812rem;
}

.currency,
.people {
  background-attachment: scroll;
  background-position: 16px;
  background-repeat: no-repeat;
  padding-left: 46px;
}

.currency {
  background-image: url('/src/assets/icon-dollar.svg');
  background-size: 11px 17px;
}

.people {
  background-image: url('/src/assets/icon-person.svg');
  background-size: 13px 16px;
}

.tip-selections {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.legend {
  color: var(--color-dark-grayish-cyan);
  font-size: 1rem;
  margin-block-end: 1rem;
}

input[type='radio'] {
  appearance: none;
  background-color: #fff;
  font: inherit;
  margin: 0;
}

.radio-control {
  align-self: center;
  background-color: var(--color-very-dark-cyan);
  border-radius: 5px;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  padding: 10px 20px;
  text-align: center;
  width: 9.16438rem;

  &:hover {
    background-color: #9fe8df;
    color: var(--color-very-dark-cyan);
  }
}

input[type='radio']:checked + .radio-control {
  background-color: var(--color-strong-cyan);
  color: var(--color-very-dark-cyan);
}

input[type='radio']:focus + .radio-control {
  box-shadow: 0 0 0 4px var(--color-grayish-cyan);
  outline: solid;
  outline-color: transparent;
}

.splitter-results {
  background-color: var(--color-very-dark-cyan);
  border-radius: 15px;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3rem;
  margin-block-start: 2rem;
  padding-block: 2.3125rem 1.5rem;
  padding-inline: 1.5rem;

  p {
    margin: 0;
  }

  .form-control {
    grid-column: 1 / 3;
  }
}

.tip-result-data,
.total-result-data {
  display: grid;
  grid-column: 1 / 3;

  .result-label {
    grid-column: 1 / 2;
  }

  .result-value {
    color: var(--color-strong-cyan);
    font-size: 2rem;
    grid-column: 2 / 3;
    text-align: right;
  }

  .title {
    color: var(--color-white);
    font-size: 1rem;
  }

  .subtitle {
    color: var(--color-grayish-cyan);
    font-size: 0.8125rem;
  }
}

button.button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  justify-content: center;
  min-height: 3rem;
  min-width: 10ch;
  padding: 0;
  padding-block: 0.5625rem;
  padding-inline: 2rem;
  transition: 220ms all ease-in-out;

  @media screen and (-ms--high-contrast: active) {
    border: 2px solid currentcolor;
  }

  &.btn-reset {
    background-color: var(--color-strong-cyan);
    border-radius: 5px;
    color: var(--color-very-dark-cyan);
    font-size: 1.25rem;
    min-width: 100%;
    text-align: center;

    &:disabled {
      background-color: #0d686d;
    }
  }

  &:hover {
    background-color: #9fe8df;
  }

  &:focus,
  &:focus-visible {
    box-shadow: 0 0 0 4px var(--color-grayish-cyan);
    outline: solid;
    outline-color: transparent;
  }
}
